*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/data/staticfiles/
/dependencies/support_bot_OLD/*
*/support_bot
#src
*.sqlite*

.env
node_modules
config.yaml
bot.log
settings.py
root.crt
core/settings.py
.vscode/settings.json
.vscode/*
credentials/