{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Profile {% endblock title %}

{% block content %}

    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-100 border-radius-xl mt-4" >
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6 pb-12">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="{{ ticket.meta.user_avatar_url }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                Ticket {{ ticket.meta.id }} - {{ ticket.meta.ticket_name }}
              </h5>
              <p class="mb-0 font-weight-normal text-sm">
                {{ ticket.meta.ticket_room_id }}
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 active " href="javascript:menu('ticket')" role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative">home</i>
                    <span class="ms-1">Ticket</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-0 px-0 py-1 " href="javascript:menu('messages')" role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative">email</i>
                    <span class="ms-1">Messages</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div id="messages-page" style="display:none">
          <div class="row gx-4 mb-2 col-5">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12 mt-sm-0 mt-2 ">
                    <a id="load_messages_btn" class="btn bg-gradient-info toast-btn" type="button" href="javascript: fetchMessages()">Load More Messages</a>
                </div>
            </div>
          </div>
          <div id="start-of-chat" style="display: none; text-align: center;">Beginning of chat</div>
          <div id="messages-container" class="messages-container">
            <!-- Messages will be dynamically loaded here -->
          </div>
          <div id="loading" style="display: none; text-align: center;">Loading...</div>
        </div>
        <div id="ticket-page">
          <div class="row gx-4 mb-2 col-5">
              <div class="row">
                  <div class="col-lg-3 col-sm-6 col-12 mt-sm-0 mt-2 ">
                      <a id="close_btn" class="btn bg-gradient-info toast-btn{% if ticket.meta.isClosed is True or ticket.meta.isDeleted %} disabled {% endif %}" type="button" href="javascript: closeCurrent()">CLOSE</a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12 mt-sm-0 mt-2">
                      <a id="reopen_btn" class="btn bg-gradient-info mb-2 toast-btn{% if ticket.meta.isClosed is False %} disabled {% endif %}" type="button" href="javascript: reopenCurrent()">REOPEN</a>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12 mt-sm-0 mt-2">
                    <a id="delete_btn" class="btn bg-gradient-info mb-2 toast-btn{% if ticket.meta.isClosed is False %} disabled {% endif %}" type="button" href="javascript: deleteCurrent()">DELETE ROOM</a>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-12 col-xl-3">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <div class="row">
                      <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Ticket Information</h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-3">
                    <ul class="list-group">
                      <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Raised At</strong> &nbsp; {{ ticket.meta.raised_at }}</li>
                      <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Closed At</strong> &nbsp; {{ ticket.meta.closed_at }}</li>
                      <li class="list-group-item border-0 ps-0 text-sm" id='ticket_status'><strong class="text-dark">Status </strong> &nbsp; {{ ticket.meta.status }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-5">
                <div class="card card-plain h-100">
                  <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Assigned Staff</h6>
                  </div>
                  <div class="card-body p-3">
                    <ul class="list-group">
                      {% for staff in ticket.staff  %}
                      <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">

                        <div class="avatar me-3">
                          <a href="javascript:;" class="avatar avatar-m rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ staff.user_id }}">
                              <img src="{{ staff.avatar_url }}" alt="team5">
                            </a>
                        </div>
                        <div class="d-flex align-items-start flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ staff.user_id }}</h6>
                        </div>
                        <a class="btn btn-link pe-2 ps-0 mb-0 ms-auto w-50 w-md-auto" href="javascript: addStaffCurrent('{{ staff.user_id }}')">Invite to room</a>
                        <a class="btn btn-link pe-1 ps-0 mb-0 ms-auto w-50 w-md-auto" href="javascript: removeStaffCurrent('{{ staff.user_id }}')">Remove</a>
                      </li>
                      {% endfor %}

                      <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                          <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_staff" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  Staff User ID
                              </button>
                              <div id="menu" class="dropdown-menu" aria-labelledby="dropdown_staff">
                                  <form class="px-4 py-2">
                                      <input type="search" class="form-control" id="searchStaff" placeholder="@user:server" autofocus="autofocus">
                                  </form>
                                  <div id="menuItems"></div>
                                  <div id="empty" class="dropdown-header">No Staff members</div>
                              </div>
                          </div>
                          <a class="btn btn-link pe-2 ps-0 mb-0 ms-auto w-50 w-md-auto" href="javascript: addStaffCurrent($('#dropdown_staff')[0].textContent);">Invite to room</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/alerts.html'%}
  </div>

  {% endblock content %}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/support-bot.js' %}"></script> 
  <script>
    function setTicketState(state){
        $('#ticket_status').text(state);

        if (state == 'closed'){
            $('#reopen_btn').removeClass("disabled");
            $('#close_btn').addClass("disabled");
            $('#delete_btn').removeClass("disabled");
        }else if (state == 'deleted'){
            $('#reopen_btn').addClass("disabled");
            $('#close_btn').addClass("disabled");
            $('#delete_btn').addClass("disabled");
        }else {
            $('#reopen_btn').addClass("disabled");
            $('#close_btn').removeClass("disabled");
            $('#delete_btn').addClass("disabled");
        }
    }

    function closeCurrent(){
        url = '{% url "close_ticket" %}'
        ticket_id = '{{ ticket.meta.id }}'
        showInfo("Closing ticket "+ticket_id, "Executing call");

        closeTicket(url, ticket_id).done((data) => {
          setTicketState("closed");
          showSuccess("Ticket closed successfully", "Success");
        }).fail((error) => {
          showDanger(error.responseText, error.status);
        });
    }

    function reopenCurrent(){
        url = '{% url "reopen_ticket" %}'
        ticket_id = '{{ ticket.meta.id }}'
        showInfo("Reopening ticket "+ticket_id, "Executing call");

        reopen(url, ticket_id).done((data) => {
          setTicketState("open");
          showSuccess("Ticket reopened successfully", "Success");
        }).fail((error) => {
          showDanger(error.responseText, error.status);
        });
    }

    function deleteCurrent(){
      url = '{% url "delete_ticket_room" %}'
      ticket_id = '{{ ticket.meta.id }}'
      showInfo("Deleting ticket "+ticket_id + " room.", "Executing call");

      deleteTicketRoom(url, ticket_id).done((data) => {
        setTicketState("deleted");
        showSuccess("Ticket deleted successfully", "Success");
      }).fail((error) => {
        showDanger(error.responseText, error.status);
      });
  }

    function removeStaffCurrent(staff_id){
        url = '{% url "unassign_staff_from_ticket" %}';
        ticket_id = '{{ ticket.meta.id }}';
        showInfo("Removing "+staff_id+" staff", "Executing call");
        removeStaff(url, staff_id, ticket_id).done((data) => {
          showSuccess("Staff removed successfully", "Success");
        }).fail((error) => {
          showDanger(error.responseText, error.status);
        });;
    }
    
    function addStaffCurrent(staff_id){
        url = '{% url "claim_ticket_for_staff" %}';
        ticket_id = '{{ ticket.meta.id }}';
        showInfo("Adding "+staff_id+" staff", "Executing call");
        addStaff(url, staff_id, ticket_id).done((data) => {
          showSuccess("Staff added successfully", "Success");
        }).fail((error) => {
          showDanger(error.responseText, error.status);
        });;
    }
  </script>
  <script>
    //Initialize with the list of staff members
    let staff_usernames = {{ all_staff|safe }};

    //Find the input search box
    let search = document.getElementById("searchStaff");

    //Find every item inside the dropdown
    let items = document.getElementsByClassName("staff-menu-item");
    function buildDropDown(values) {
        let contents = []
        for (let name of values) {
        contents.push('<input type="button" class="dropdown-item staff-menu-item" type="button" value="' + name + '"/>')
        }
        $('#menuItems').append(contents.join(""))

        //Hide the row that shows no items were found
        $('#empty').hide()
    }

    //Capture the event when user types into the search box
    window.addEventListener('input', function () {
        toFind = search.value.trim().toLowerCase();
        filter(toFind);
    })

    //For every word entered by the user, check if the symbol starts with that word
    //If it does show the symbol, else hide it
    function filter(word) {
        let length = items.length
        let collection = []
        let hidden = 0
        for (let i = 0; i < length; i++) {
        if (items[i].value.toLowerCase().startsWith(word)) {
            $(items[i]).show()
        }
        else {
            $(items[i]).hide()
            hidden++
        }
        }

        //If all items are hidden, show the empty view
        if (hidden === length) {
        $('#empty').show()
        }
        else {
        $('#empty').hide()
        }
    }

    //If the user clicks on any item, set the title of the button as the text of the item
    $('#menuItems').on('click', '.dropdown-item', function(){
        $('#dropdown_staff').text($(this)[0].value);
        $("#dropdown_staff").dropdown('toggle');
    })

    buildDropDown(staff_usernames);


  </script>
  <script>
    function menu(selection){
      if (selection == "ticket"){
        $("#messages-page").hide();
        $("#ticket-page").show();
        return;
      }
      if(selection == "messages"){
        $("#messages-page").show();
        $("#ticket-page").hide();
        return;
      }
    }
  </script>
  <script>
    let url = '{% url "fetch_ticket_messages" %}';
    let ticketId = "{{ ticket.meta.id }}";
    let nextStartToken = "";
    let hasMoreMessages = true;
    let isLoading = false;
    
    async function fetchMessages() {
      if (!hasMoreMessages || isLoading) return;
  
      isLoading = true;
      document.getElementById('loading').style.display = 'block';

      fetchTicketMessages(url, ticketId, nextStartToken, '', 10)
        .done((response) => {
            console.log("Messages fetched successfully:", response);
            const data = response;
            // Render messages
            data.messages.forEach(renderMessage);
            // Update pagination state
            nextStartToken = data.end;
            hasMoreMessages = data.has_more;
            if (!hasMoreMessages) {
              document.getElementById('start-of-chat').style.display = 'block';
            }
        })
        .fail((error) => {
            console.error("Error fetching messages:", error);
            showDanger(error.responseText, error.status);
        })
        .always(() => {
          isLoading = false;
          document.getElementById('loading').style.display = 'none';
        });
    }
  
    function renderMessage(message) {
      const container = document.getElementById('messages-container');
      const messageDiv = document.createElement('div');
      messageDiv.className = 'message';
  
      // Format timestamp
      const date = new Date(message.server_timestamp);
      const formattedTime = date.toLocaleString();
  
      // Display message content
      messageDiv.innerHTML = `
          <div>
            <strong>${message.sender}</strong> <span class="timestamp">${formattedTime}</span>
          </div>
          <div>
            ${message.source.type === 'm.room.message' ? 
                (message.source.content.body ? 
                    message.source.content.body : 
                    '[No message body]') : 
                JSON.stringify(message.source.content) || '[No content]'
            }
          </div>
      `;
  
      container.prepend(messageDiv);
    }
  </script>
  {% endblock scripts %}