<div class="position-fixed bottom-1 end-1 z-index-2">
  <div class="toast fade p-2 bg-white hide" role="alert" aria-live="assertive" id="successToast" aria-atomic="true">
    <div class="toast-header border-0">
      <i class="material-icons text-success me-2">check</i>
      <span class="me-auto font-weight-bold">Support Bot</span>
      <small class="text-body">11 mins ago</small>
      <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
    </div>
    <hr class="horizontal dark m-0" />
    <div class="toast-body">Hello, world! This is a notification message.</div>
  </div>
  <div class="toast fade hide p-2 mt-2 bg-gradient-info" role="alert" aria-live="assertive" id="infoToast" aria-atomic="true">
    <div class="toast-header bg-transparent border-0">
      <i class="material-icons text-white me-2">notifications</i>
      <span class="me-auto text-white font-weight-bold">Support Bot</span>
      <small class="text-white">11 mins ago</small>
      <i class="fas fa-times text-md text-white ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
    </div>
    <hr class="horizontal light m-0" />
    <div class="toast-body text-white">Hello, world! This is a notification message.</div>
  </div>
  <div class="toast fade p-2 mt-2 bg-white hide" role="alert" aria-live="assertive" id="warningToast" aria-atomic="true">
    <div class="toast-header border-0">
      <i class="material-icons text-warning me-2">travel_explore</i>
      <span class="me-auto font-weight-bold">Support Bot</span>
      <small class="text-body">11 mins ago</small>
      <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
    </div>
    <hr class="horizontal dark m-0" />
    <div class="toast-body">Hello, world! This is a notification message.</div>
  </div>
  <div class="toast fade p-2 mt-2 bg-white hide" role="alert" aria-live="assertive" id="dangerToast" aria-atomic="true">
    <div class="toast-header border-0">
      <i class="material-icons text-danger me-2">campaign</i>
      <span class="me-auto text-gradient text-danger font-weight-bold">Support Bot</span>
      <small class="text-body">11 mins ago</small>
      <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close" aria-hidden="true"></i>
    </div>
    <hr class="horizontal dark m-0" />
    <div class="toast-body">Hello, world! This is a notification message.</div>
  </div>
</div>
<script>
  function showWarning(message, topic) {
    // Select the warning toast div
    var $warningToast = $("#warningToast");

    // Set the warning message in the toast body
    $warningToast.find(".toast-body").text(message);

    // Set the notification topic
    $warningToast.find(".text-body").text(topic ? topic : "Warning");

    // Remove the "hide" class to display the toast
    $warningToast.removeClass("hide").addClass("show");
}

function showDanger(message, topic) {
  // Select the danger toast div
  var $dangerToast = $("#dangerToast");

  // Set the warning message in the toast body
  $dangerToast.find(".toast-body").text(message);

  // Set the notification topic
  $dangerToast.find(".text-body").text(topic ? topic : "Error");

  // Remove the "hide" class to display the toast
  $dangerToast.removeClass("hide").addClass("show");
}

function showSuccess(message, topic) {
  // Select the success toast div
  var $successToast = $("#successToast");

  // Set the success message in the toast body
  $successToast.find(".toast-body").text(message);

  // Set the notification topic
  $successToast.find(".text-body").text(topic ? topic : "Success");

  // Remove the "hide" class to display the toast
  $successToast.removeClass("hide").addClass("show");
}

function showInfo(message, topic) {
  // Select the info toast div
  var $infoToast = $("#infoToast");

  // Set the info message in the toast body
  $infoToast.find(".toast-body").text(message);

  // Set the notification topic
  $infoToast.find(".text-body").text(topic ? topic : "Success");

  // Remove the "hide" class to display the toast
  $infoToast.removeClass("hide").addClass("show");
}
</script>